<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Modificar Datos</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Nombres:</label>
          <input [(ngModel)]="persona.nombres" name="nombres" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Apellidos:</label>
          <input [(ngModel)]="persona.apellidos" name="apellidos" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Tipo de Documento:</label>
          <select [(ngModel)]="persona.tipoDocumento" name="first" class="form-control">
              <option value="Cedula">Cedula</option>
              <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
              <option value="Registro Civil">Registro Civil</option>
              <option value="Pasaporte">Pasaporte</option>
          </select>
      </div>
        <div class="form-group">
          <label for="">Numero de Documento:</label>
          <input [(ngModel)]="persona.documento" name="documento" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Fecha de Nacimiento:</label>
          <input [(ngModel)]="persona.fechaNacimiento" name="fechaNacimiento" type="date" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Ciudad:</label>
          <select [(ngModel)]="persona.ciudad" name="second" class="form-control">
              <option value="Bogota">Bogota</option>
              <option value="Bucaramanga">Bucaramanga</option>
              <option value="Medellin">Medellin</option>
              <option value="Cucuta">Cucuta</option>
              <option value="Cartagena">Cartagena</option>
          </select>
      </div>
        <br><br>
        <div class="form-group">
          <label for="">Email:</label>
          <input [(ngModel)]="persona.email" name="email" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Telefono:</label>
          <input [(ngModel)]="persona.telefono" name="telefono" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Usuario:</label>
          <input [(ngModel)]="persona.usuario" name="usuario" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Contraseña:</label>
          <input [(ngModel)]="persona.password" name="password" type="text" class="form-control">
        </div>
        <button (click)="Actualizar(persona)" class="btn btn-warning">Actualizar</button>
      </form>
    </div>
  </div>
</div>
