<div class="container col-md-6">
    <div class="card">
    <div class="card-header">
        <h3>Agregar Personas</h3>
    </div>
    <div class="card-body">
        <form action="">
        <div class="form-group">
            <label for="">Nombres:</label>
            <input [(ngModel)]="persona.nombres" name="name" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Apellidos:</label>
            <input [(ngModel)]="persona.apellidos" name="apellidos" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Tipo de Documento:</label>
            <br>
            <ng-select [(ngModel)]="persona.tipoDocumento_id" name="first">
              <ng-option *ngFor="let tipo of tiposdocumento" [value]="tipo" >{{tipo.nombre}}</ng-option>
          </ng-select>
          
        </div>
        <div class="form-group">
            <label for="">Numero de Documento:</label>
            <input [(ngModel)]="persona.documento" name="apellidos" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Fecha de Nacimiento:</label>
            <input [(ngModel)]="persona.fechaNacimiento" name="fechaNacimiento" type="date" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Lugar de residencia:</label>
            <br>
            <ng-select [(ngModel)]="persona.lugarResidencia_id" name="second">
              <ng-option *ngFor="let tipo of ciudades" [value]="tipo" >{{tipo.nombre}}</ng-option>
          </ng-select>
          
        </div>
        <div class="form-group">
            <label for="">Numero de Documento:</label>
            <input [(ngModel)]="persona.documento" name="documento" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Email:</label>
            <input [(ngModel)]="persona.email" name="email" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Telefono:</label>
            <input [(ngModel)]="persona.telefono" name="telefono" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Usuario:</label>
            <input [(ngModel)]="persona.usuario" name="usuario" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Contraseña:</label>
            <input [(ngModel)]="persona.password" name="password" type="text" class="form-control">
        </div>
        <button (click)="Guardar()" class="btn btn-success">Guardar</button>
        </form>
    </div>
    </div>
</div>
