<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Agregar</h3>
        <div class="clas-body">
          <form action="">
            <div class="form-group">
                <label for="">Id:{{employe.id}}</label>
                
            </div>  
            <div class="form-group">
              <label for="">Nombres:</label>
              <input [(ngModel)]="employe.firstName" name="firstName" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Apellidos:</label>
              <input [(ngModel)]="employe.lastName" name="lastName" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Email:</label>
              <input [(ngModel)]="employe.emailId" name="emailId" type="text" class="form-control">
            </div>
            <button (click)="Actulizar(employe)" class="btn btn-danger">Guardar</button>
          </form>
  
        </div>
      </div>
    </div>
  </div>