<div class="container col-md-11">
  <div class="card" >
    <div class="card-header">
      <h3>Personas</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>NOMBRES</th>
            <th>APELLIDOS</th>
            <th>TIPO DE DOCUMENTO</th>
            <th>DOCUMENTO</th>
            <th>NACIMIENTO</th>
            <th>EMAIL</th>
            <th>TELEFONO</th>
            <th>USUARIO</th>
            <th>RESIDENCIA</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personas" class="text-center">
            <td>{{persona.id}}</td>
            <td>{{persona.nombres}}</td>
            <td>{{persona.apellidos}}</td>
            <td>{{persona.tipoDocumento_id.nombre}}</td>
            <td>{{persona.documento}}</td>
            <td>{{persona.fechaNacimiento}}</td>
            <td>{{persona.email}}</td>
            <td>{{persona.telefono}}</td>
            <td>{{persona.usuario}}</td>
            <td>{{persona.lugarResidencia_id.nombre}}</td>
            <td>
              <button (click)="Editar(persona)" class="btn btn-warning">Editar</button>
              <button (click)="Delete(persona)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>