<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>customer {{employees.length}}</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>email</th>
                        <th>accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees" class="center">
                        <td>{{employee.id}}</td>
                        <td>{{employee.firstName}}</td>
                        <td>{{employee.lastName}}</td>
                        <td>{{employee.emailId}}</td>
                        <td>
                            <button class="btn btn-warning" style="margin-right: 10px;">editar</button>
                            <button class="btn btn-danger">borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
